spring:
  application:
    name: codetogether
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/}
    username: ${DB_USER:postgres}
    password: ${DB_PASSWORD:}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${GITHUB_CLIENT_ID:}
            client-secret: ${GITHUB_CLIENT_SECRET:}
            authorization-grant-type: authorization_code
            redirect-uri: ${GITHUB_REDIRECT_URI:http://localhost:5173/oauth/callback/github}
            scope: read:user
          google:
            client-id: ${GOOGLE_CLIENT_ID:}
            client-secret: ${GOOGLE_CLIENT_SECRET:}
            authorization-grant-type: authorization_code
            redirect-uri: ${GOOGLE_REDIRECT_URI:http://localhost:5173/oauth/callback/google}
            scope: profile,email
        provider:
          github:
            authorization-uri: https://github.com/login/oauth/authorize
            token-uri: https://github.com/login/oauth/access_token
            user-info-uri: https://api.github.com/user
            user-name-attribute: login
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: email
server:
  port: 8080
  servlet:
    context-path: /v1
codetogether:
  invites:
    auto-rotate-expired: false
    rotate-ttl-minutes: 60
    rotate-interval-ms: 60000
logging:
  level:
    root: INFO