spring:
  application:
    name: codetogether
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/codetogether}
    username: ${DB_USER:codetogether}
    password: ${DB_PASSWORD:codetogether}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: github-client-id
            client-secret: github-client-secret
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/oauth/github/callback"
            scope: read:user
          google:
            client-id: google-client-id
            client-secret: google-client-secret
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/oauth/google/callback"
            scope: profile,email
        provider:
          github:
            authorization-uri: https://github.com/login/oauth/authorize
            token-uri: https://github.com/login/oauth/access_token
            user-info-uri: https://api.github.com/user
            user-name-attribute: login
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: email
server:
  port: 8080
  servlet:
    context-path: /v1
logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG
